body {
  padding-top: 50px;
  background-color: #c0c0c0; 
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.logged-user {
  float: right;
}

.navbar-colors{
  color: #3232cd;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 100%) repeat scroll 0 0;;
    color: #f3f3f3;
}

.loggout {
  float: right;
}

.inline {
  display: inline;
  text-align: center;
  margin: 5%;
}

.boardTd {
    background-color: #3232cd;
    margin: 3px;
    border-radius: 5px;
    width: 30%;
    display: inline-table;
}

.linkStyle{
  color: white;
  text-align: center;
}

.card{
    background-color: #3232cd;
    margin: 3px;
    border-radius: 5px;
    width: 100%;
    min-height: 3ex;
    max-height: 3ex;
    display: inline-table;
}

.center-block {
  margin: 0 auto;
}