<h1 data-bind="text: board().name">...</h1>
Polubień: <span data-bind="text: likesCount, click: toggleLike"></span><br>
<div data-bind="visible: !board().archived">
	<a data-bind="click: addList">Dodaj listę</a>
	<table class="table">
		<thead>
			<tr>
				<!-- ko foreach: lists -->
				<th><span data-bind="text: name"></span> <a data-bind="click: $parent.addCardToList, visible: !$data.archived">[Dodaj kartę]</a> <a data-bind="click: $parent.renameList, visible: !$data.archived">[Zmień nazwę]</a> <a data-bind="click: $parent.archiveList, visible: !$data.archived">[Archiwizuj]</a> <a data-bind="click: $parent.unarchiveList, visible: $data.archived">[Przywróć]</a> <a data-bind="click: $parent.deleteList, visible: $data.archived">[Usuń]</a></th>
				<!-- /ko -->
				<th>
					<form data-bind="submit: addListWithTitle"><input type="text"><input type="submit" value="Dodaj"></form>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-bind="foreach: lists">
				<td>
					<table class="table">
						<tbody data-bind="foreach: cards">
							<tr data-bind="dragZone: { name: 'tasks' }, dropZone: { accepts: 'tasks', drop: $parentContext.$parent.drop }">
								<td><span data-bind="text: name, click: $parentContext.$parent.showCard"></span> <a data-bind="click: $parentContext.$parent.editCard, visible: !$data.archived">[Edytuj nazwę / opis]</a> <a data-toggle="modal" data-target="#selectListModal" data-bind="click: $parentContext.$parent.moveCard, visible: !$data.archived">[Przenieś]</a> <a data-bind="click: $parentContext.$parent.archiveCard, visible: !$data.archived">[Archiwizuj]</a> <a data-bind="click: $parentContext.$parent.unarchiveCard, visible: $data.archived">[Przywróć]</a> <a data-bind="click: $parentContext.$parent.deleteCard, visible: $data.archived">[Usuń]</a></td>
							</tr>
						</tbody>
						<tbody>
							<tr data-bind="dropZone: { accepts: 'tasks', drop: $parent.drop }">
								<td><form data-bind="submit: $parent.addCardToListWithTitle"><input type="text"><input type="submit" value="Dodaj"></form></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div data-bind="visible: board().archived">
	Ta tablica jest zamknięta.<br>
	<a data-bind="click: openBoard">Otwórz tablicę</a><br>
	<a data-bind="click: removeBoard">Trwale usuń tablicę</a>
</div>
 <!-- Modal select list -->
    <div id="selectListModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Zmiana listy</h4>
          </div>
          <div class="modal-body">
			<div class="alert-danger" data-bind="visible: SelectListMessage()!='', text: SelectListMessage()"></div>
			<div class="panel-group" data-bind="foreach: boardsData">
				<div class="panel panel-default">
					<div class="panel-heading" data-bind="style: {backgroundColor: $parent.board().id==id ? '#d9edf7' : ''}">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-bind="text: name, attr: { href: '#collapse' + id }"></a>
						</h4>
					</div>
					<div data-bind="attr: { id: 'collapse' + id }" class="panel-collapse collapse">
						<ul class="list-group">
							<li class="list-group-item" data-bind="foreach: lists"><div data-bind="text: name, click: $parentContext.$parent.chooseList, css: {'label-success':id==$parentContext.$parent.isListSelected()}, visible: id!=$parentContext.$parent.isElementVisible()"></div></li>
						</ul>
					</div>
				</div>
			</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-default" data-bind="click: changeList">Zmień</button>
          </div>
        </div>

      </div>
    </div>
<!-- koniec modala -->

<!-- Modal - add List -->
<div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="addListModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addListModalLabel">Nowa lista</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="new-list-name" class="control-label">Nazwa:</label>
            <input type="text" class="form-control" id="new-list-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-bind="click: addListConfirm">Utwórz listę</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal - add List -->

<!-- Modal - add Card -->
<div class="modal fade" id="addCardModal" tabindex="-1" role="dialog" aria-labelledby="addCardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addCardModalLabel">Nowa karta</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="new-card-name" class="control-label">Nazwa:</label>
            <input type="text" class="form-control" id="new-card-name">
          </div>
          <div class="form-group">
            <label for="new-card-desc" class="control-label">Opis:</label>
            <textarea class="form-control" id="new-card-desc"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-bind="click: addCardToListConfirm">Utwórz kartę</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal - add Card -->

<!-- Modal - edit List -->
<div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="editListModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editListModalLabel">Edycja listy</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="ex-list-name" class="control-label">Nowa nazwa:</label>
            <input type="text" class="form-control" id="ex-list-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-bind="click: editListConfirm">Edytuj listę</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal - edit List -->

<!-- Modal - edit Card -->
<div class="modal fade" id="editCardModal" tabindex="-1" role="dialog" aria-labelledby="editCardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editCardModalLabel">Edycja karty</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="ex-card-name" class="control-label">Nowa nazwa:</label>
            <input type="text" class="form-control" id="ex-card-name">
          </div>
          <div class="form-group">
            <label for="ex-card-desc" class="control-label">Nowy opis:</label>
            <textarea class="form-control" id="ex-card-desc"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-bind="click: editCardConfirm">Edytuj kartę</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal - edit Card -->

<!-- Modal - display Card -->
<div class="modal fade" id="showCardModal" tabindex="-1" role="dialog" aria-labelledby="showCardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="showCardModalLabel" data-bind="text: displayedCard().name"></h4>
      </div>
      <div class="modal-body">
		<p data-bind="text: displayedCard().description"></p>
        <form>
          <div class="form-group">
            <label for="new-card-comment" class="control-label">Dodaj komentarz:</label>
            <textarea class="form-control" id="new-card-comment"></textarea>
          </div>
		  <div class="form-group">
			<button type="button" class="btn btn-primary" data-bind="click: addComment">Wyślij</button>
		  </div>
        </form>
      </div>
      <div class="modal-footer">
		<h3>Aktywność</h3>
		<!-- ko foreach:displayedCardComments -->
		<p><b data-bind="text: user.username"></b>: <span data-bind="text: content"></span> <a data-bind="click: $parent.editComment">[Edytuj]</a> <a data-bind="click: $parent.removeComment">[Usuń]</a></p>
		<!-- /ko -->
      </div>
    </div>
  </div>
</div>
<!-- End of Modal - display Card -->

<!-- Modal - edit Comment -->
<div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="editCommentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editCommentModalLabel">Edycja komentarza</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="edit-card-comment" class="control-label">Treść komentarza:</label>
            <textarea class="form-control" id="edit-card-comment"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-bind="click: editCommentConfirm">Edytuj kartę</button>
    </div>
  </div>
</div>
<!-- End of Modal - edit Comment -->