<h1 data-bind="text: board().name">...</h1>
<a data-bind="click: addList">Dodaj listę</a>
<table class="table">
	<thead>
		<tr data-bind="foreach: lists">
			<th><span data-bind="text: name"></span> <a data-bind="click: $parent.addCardToList, visible: !$data.archived">[Dodaj kartę]</a> <a data-bind="click: $parent.renameList, visible: !$data.archived">[Zmień nazwę]</a> <a data-bind="click: $parent.archiveList, visible: !$data.archived">[Archiwizuj]</a> <a data-bind="click: $parent.unarchiveList, visible: $data.archived">[Przywróć]</a> <a data-bind="click: $parent.deleteList, visible: $data.archived">[Usuń]</a></th>
		</tr>
	</thead>
	<tbody>
		<tr data-bind="foreach: lists">
			<td>
				<table class="table">
					<tbody data-bind="foreach: cards">
						<tr>
							<td><span data-bind="text: name"></span> <a data-bind="click: $parentContext.$parent.editCardName, visible: !$data.archived">[Zmień nazwę]</a> <a data-bind="click: $parentContext.$parent.editCardDescription, visible: !$data.archived">[Zmień opis]</a> <a data-bind="click: $parentContext.$parent.archiveCard, visible: !$data.archived">[Archiwizuj]</a> <a data-bind="click: $parentContext.$parent.unarchiveCard, visible: $data.archived">[Przywróć]</a> <a data-bind="click: $parentContext.$parent.deleteCard, visible: $data.archived">[Usuń]</a></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>