<h1 data-bind="text: board().name">...</h1>
<a data-bind="click: addList">Dodaj listę</a>
<table class="table">
	<thead>
		<tr data-bind="foreach: lists">
			<th><span data-bind="text: name"></span> <a data-bind="click: $parent.addCardToList">[Dodaj kartę]</a> <a data-bind="click: $parent.renameList">[Zmień nazwę]</a> <a data-bind="click: $parent.archiveList">[Archiwizuj]</a> <a data-bind="click: $parent.deleteList">[Usuń]</a></th>
		</tr>
	</thead>
	<tbody>
		<tr data-bind="foreach: lists">
			<td>
				<table class="table">
					<tbody data-bind="foreach: tasks">
						<tr>
							<td><span data-bind="text: name"></span> <a data-bind="click: $parentContext.$parent.editCardName">[Zmień nazwę]</a> <a data-bind="click: $parentContext.$parent.editCardDescription">[Zmień opis]</a> <a data-bind="click: $parentContext.$parent.deleteCard">[Usuń]</a></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>