<h1>Dostępne tablice:</h1>

<div class="inline"> Filtruj: <input type="text" data-bind="textInput: filter"></div>
<div class="inline"> 
  Pokaż ukryte: 
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
      <input type="radio" name="options" value="1" data-bind="bsChecked: showHiddenBoards, checkedValue: true" autocomplete="off"> TAK
    </label>
    <label class="btn btn-primary active">
      <input type="radio" name="options" value="0" data-bind="bsChecked: showHiddenBoards, checkedValue: false" autocomplete="off"> NIE
    </label>
  </div>
</div>

<div  >
	<div data-bind="foreach: boardsFiltered">
		<div class="boardTd" data-bind="visible: $parent.showHiddenBoards()=='true' || archived!=true">
        <a data-bind="text: name, page-href: {path: '../board', params: {boardId: id}}"></a> <br/>
        <a class="btn btn-primary btn-xs" data-bind="click: $parent.renameTable, visible: !archived">Zmień nazwę</a> 
        <a class="btn btn-primary btn-xs" data-bind="click: $parent.closeTable, visible: !archived">Zamknij tablicę</a> 
        <a class="btn btn-primary btn-xs" data-bind="click: $parent.deleteTable, visible: archived">Usuń]</a><br/><br/>
		</div>
	</div>
  	<div class="boardTd">
       <br/><button class="btn btn-primary active " style=" vertical-align: middle; "data-bind="click: addTable">Dodaj tablicę</button><br/></br>
		</div>
</div>

<!-- Dodawanie tablicy -->
<div class="modal fade" id="addBoardModal" tabindex="-1" role="dialog" aria-labelledby="addBoardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addBoardModalLabel">Nowa tablica</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="new-board-name" class="control-label">Nazwa:</label>
            <input type="text" class="form-control" id="new-board-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-bind="click: addBoard">Utwórz tablicę</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editBoardModal" tabindex="-1" role="dialog" aria-labelledby="editBoardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editBoardModalLabel">Zmiana nazwy tablicy</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="ex-board-name" class="control-label">Nowa nazwa:</label>
            <input type="text" class="form-control" id="ex-board-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-bind="click: editBoard">Edytuj tablicę</button>
      </div>
    </div>
  </div>
</div>